<link rel="stylesheet" href="/assets/css/profile.css" />
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="active">Profile</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<% if (user) { %>
  <div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card-container">
            <span class="default">Default</span>
            <a href="/account/download-cert" class="cert" id="download-cert">Cert file</a>
            <img class="round"
              src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="100"
              alt="user" />
            <h3>
              <%= user.lastName + ' ' + user.middleName + ' ' + user.firstName %>
            </h3>
            <h6>
              <%= user.email %>
            </h6>
            <p>
              <%= user.address %>
            </p>
            <div class="skills">
              <h6>Features</h6>
              <ul>
                <li>
                  <a id="btn-change-password-form">Change password</a>
                </li>
                <li>
                  <a id="btn-change-user-info-form">Change information</a>
                </li>
                <li><a id="btn-get-orders">Orders</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8" id="playground-form">
          <form id="form-detail">
            <div class="row">
              <div class="col-12">
                <h4>Account</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <div class="col-third">
                    <input class="profile-input" type="text" readonly placeholder="First name"
                      value="<%= user.firstName %>" />
                  </div>
                  <div class="col-third">
                    <input class="profile-input" type="text" readonly placeholder="Middle name"
                      value="<%= user.middleName %>" />
                  </div>
                  <div class="col-third">
                    <input class="profile-input" type="text" readonly placeholder="Last name"
                      value="<%= user.lastName %>" />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group input-group-icon">
                  <input class="profile-input" type="email" readonly placeholder="Email Adress"
                    value="<%= user.email %>" />
                  <div class="input-icon"><i class="fa fa-envelope"></i></div>
                </div>
              </div>
            </div>
            <!-- <div class="row">
            <div class="col-12">
              <h4>Date of Birth</h4>
              <div class="input-group">
                <div class="col-third">
                  <input
                    class="profile-input"
                    readonly
                    type="text"
                    placeholder="DD"
                  />
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    readonly
                    type="text"
                    placeholder="MM"
                  />
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    readonly
                    type="text"
                    placeholder="YYYY"
                  />
                </div>
              </div>
            </div>
          </div> -->
            <div class="row">
              <div class="col-12">
                <h4>Address Details</h4>
                <div class="input-group input-group-icon">
                  <%= user.address %>
                </div>
                <div class="input-group input-group-icon"></div>
              </div>
            </div>
            <!-- <div class="row pr-0">
            <h4>Terms and Conditions</h4>
              <div class="input-group">
                <input class="profile-input" id="terms" type="checkbox"/>
                <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
              </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-6 pr-0">
              <input
                class="form-control"
                type="button"
                placeholder="Full Name"
                value="Save"
              />
            </div>
          </div> -->
          </form>
          <form id="form-change-info" class="hidden">
            <input type="hidden" name="userId" value="<%= user.userId %>" />
            <div class="row">
              <div class="col-12">
                <h4>Change user information</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <div class="col-third">
                    <input class="profile-input" type="text" name="firstname" placeholder="First name"
                      value="<%= user.firstName %>" />
                    <span id="invalid-firstname"></span>
                  </div>
                  <div class="col-third">
                    <input class="profile-input" type="text" name="middlename" placeholder="Middle name"
                      value="<%= user.middleName %>" />
                    <span id="invalid-middlename"></span>
                  </div>
                  <div class="col-third">
                    <input class="profile-input" type="text" name="lastname" placeholder="Last name"
                      value="<%= user.lastName %>" />
                    <span id="invalid-lastname"></span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group input-group-icon">
                  <input class="profile-input" type="email" name="email" placeholder="Email Adress"
                    value="<%= user.email %>" />
                  <div class="input-icon"><i class="fa fa-envelope"></i></div>
                </div>
                <span id="invalid-email"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>Address Details</h4>
                <div class="input-group input-group-icon">
                  <input class="profile-input" type="text" name="address" placeholder="Address"
                    value="<%= user.address %>" />
                  <div class="input-icon"><i class="fa fa-street-view"></i></div>
                </div>
                <span id="invalid-address"></span>
              </div>
            </div>
            <div class="row pr-0">
              <div class="col-sm-6 pr-0">
                <div class="lds-ring-profile lds-ring hidden">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <input class="form-control profile-button" type="button" id="form-change-info-submit" value="Save" />
              </div>
            </div>
          </form>
          <form id="form-change-password" class="hidden">
            <input type="hidden" name="userId" value="<%= user.userId %>" />
            <div class="row">
              <div class="col-12">
                <h4>Change password</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-group input-group-icon">
                  <input class="profile-input" type="password" name="password" placeholder="Password" value="" />
                  <div class="input-icon"><i class="fa fa-lock"></i></div>
                </div>
                <span id="invalid-password"></span>
              </div>
              <div class="col-12">
                <div class="input-group input-group-icon">
                  <input class="profile-input" type="password" name="confirmPassword" placeholder="Confirm password"
                    value="" />
                  <div class="input-icon"><i class="fa fa-lock"></i></div>
                </div>
                <span id="invalid-confirmPassword"></span>
              </div>
            </div>
            <div class="row pr-0">
              <div class="col-sm-6 pr-0">
                <div class="lds-ring-profile lds-ring hidden">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <input class="form-control profile-button" type="button" id="change-password-submit" value="Save" />
              </div>
            </div>
          </form>
          <form id="form-orders" class="hidden">
            <div class="row">
              <div class="col-12">
                <h4>Your orders</h4>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order code</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="order-table-body">
                  <div id="loader-register" class="lds-ring-profile lds-ring hidden bg-primary">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </tbody>
              </table>
            </div>
          </form>
          <form id="form-order-details" class="hidden">
            <div class="row">
              <div class="col-12">
                <h4>Order details</h4>
              </div>
            </div>
            <div class="order-detail-box" id="order-detail-frame">
              <div class="order-detail-id">Order ID: <span>OD010100</span></div>
              <div class="order-detail-row">
                <div><img src="" /></div>
                <div>Product 1</div>
                <div>Price</div>
                <div>X 2</div>
              </div>
              <div class="order-detail-row">
                <div><img src="" /></div>
                <div>Product 3</div>
                <div>Price</div>
                <div>X 2</div>
              </div>
              <div class="order-detail-total">
                <div>Total: $<span>2000</span></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>
    <!--Shopping Cart Area End-->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="historyModalTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">Order ID</div>
              <div class="col-sm-8" id="order-id"></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Price</div>
              <div class="col-sm-8" id="order-price"></div>
            </div>
            <div class="row" id="order-history">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const mapOrderState = (state) => {
        state = state - 1;
        const orderState = [
          "ORDER_CREATED",
          "ORDER_RECEIVED",
          "SHIPMENT_ASSIGNED",
          "SHIPMENT_CREATED",
          "SHIPMENT_IN_TRANSIT",
          "SHIPMENT_RECEIVED",
          "ORDER_CLOSED",
        ];
        return orderState[state];
      }
      function clearAfterDelay(e) {
        setTimeout(() => {
          e.text("");
        }, 15000);
      }
      $(document).on('click', '.btn-order-history', function (e) {
        let id = $(this).data('key');
        $.ajax({
          url: '/orders/order-history/' + id,
          type: 'get',
          success: function (res) {
            if (res.status == true) {
              $('#historyModalTitle').text('Order history: ' + id);
              const { data } = res;
              const firstRow = data[0];
              const orderId = firstRow.Value.orderId;
              const price = firstRow.Value.price;
              $('#order-id').text(orderId);
              $('#order-price').text(price);
              $('#order-history').empty();
              data.forEach(history => {
                let d4 = document.createElement('div');
                d4.classList.add('col-sm-8');
                d4.classList.add('mt-4');
                d4.innerText = history.Timestamp;
                let d12 = document.createElement('div');
                d12.classList.add('col-sm-12');
                d12.style.fontWeight = '600';
                d12.innerText = mapOrderState(history.Value.currentOrderState);
                $('#order-history').append(d4, d12);
              });
              $('#historyModal').modal('show');
            }
          },
          error: function (jq, status, err) {
            console.log(jq);
          }
        })
      })

      $(document).on("click", "#btn-change-password-form", function (e) {
        console.log("click");
        let forms = $("#playground-form form");
        for (let i = 0; i < forms.length; i++) {
          if (!forms[i].classList.contains("hidden")) {
            forms[i].classList.add("hidden");
          }
        }
        $("#form-change-password").removeClass("hidden");
      });
      $(document).on("click", "#btn-change-user-info-form", function (e) {
        let forms = $("#playground-form form");
        for (let i = 0; i < forms.length; i++) {
          if (!forms[i].classList.contains("hidden")) {
            forms[i].classList.add("hidden");
          }
        }
        $("#form-change-info").removeClass("hidden");
      });
      $(document).on("click", "#btn-get-orders", function (e) {
        let forms = $("#playground-form form");
        for (let i = 0; i < forms.length; i++) {
          if (!forms[i].classList.contains("hidden")) {
            forms[i].classList.add("hidden");
          }
        }
        $.ajax({
          url: "/orders",
          success: function (res) {
            if (res.data) {
              const { data } = res;
              let count = 1;
              let tableContent = "";
              data.forEach((orderItem) => {
                console.log(orderItem);
                const { Key, Value } = orderItem;
                tableContent += `<tr>
              <th scope="row" class="table-counter">${count}</th>
              <td>${Key}</td>
                  <td>$${Value.price}</td>
                  <td class="order-state-${mapOrderState(Value.currentOrderState).toLowerCase()}"><span>${mapOrderState(Value.currentOrderState)}</span></td>
                  <td class="td-last" style="display: flex; justify-content: space-between;">
                    <a data-key="${Key}" title="Details" class="btn-order-detail"><i class="fa fa-file-text"></i></a>
                    <a data-key="${Key}" title="History" class="btn-order-history text-info"><i class="fa fa-list-alt"></i></a>
                    <a data-key="${Key}" title="Mark Received" class="btn-order-mark text-success"><i class="fa fa-check"></i></a>
                    </td>
                </tr>`;
                count += 1;
              });
              $("#order-table-body").html(tableContent);
            }
          },
          error: function (jq, status, err) {
            let responseError = JSON.parse(jq.responseText);
            console.log(responseError);
          },
        });
        $("#form-orders").removeClass("hidden");
      });

      function setProductDetailInfo(ids) {
        ids.forEach(productCode => {
          $.ajax({
            url: '/api/product',
            data: {
              productCode
            },
            success: function (res) {
              if (res) {
                const { product } = res;
                $('#product-image-' + productCode).attr('src', '/images/' + product.primaryImage);
                $('#product-name-' + productCode).text('$' + product.name);
              }
            },
            error: function (jq, status, err) {
              let responseError = JSON.parse(jq.responseText);
              console.log(responseError);
            }
          })
        })
      }

      $(document).on('click', '.btn-order-detail', function () {
        const key = $(this).data('key');
        $.ajax({
          url: `/orders/${key}`,
          success: function (res) {
            let { data } = res;
            let tableContent = '';
            let ids = [];
            if (data) {
              let total = 0;
              tableContent += `<div class="order-detail-id">Order ID: <span>${key}</span><span class="close-order-detail"><i class="fa fa-times"></i></span></div>`;
              data.forEach(item => {
                const { Value } = item;
                total += parseInt(Value.price);
                ids.push(Value.productId);
                tableContent += `<div class="order-detail-row">
                <div><img src="" id="product-image-${Value.productId}" /></div>
                <div id="product-name-${Value.productId}">
                  <div id="loader-register" class="lds-ring bg-primary">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
                <div>${Value.price}</div>
                <div>X ${Value.quantity}</div>
              </div>`;
              });
              tableContent += `<div class="order-detail-total">
                <div>Total: $<span>${total}</span></div>
              </div>`;
            }
            if (ids) {
              setProductDetailInfo(ids);
            }
            $('#form-order-details').removeClass('hidden');
            $('#order-detail-frame').html(tableContent);
          },
          error: function (jq, status, err) {
            let responseError = JSON.parse(jq.responseText);
            console.log(responseError);
          }
        })
      });

      $(document).on('click', '.close-order-detail', function () {
        let parent = $('#form-order-details');
        $('#order-detail-frame').html('');
        if (!parent.hasClass('hidden')) {
          parent.addClass('hidden');
        }
      });

      $(document).on("click", ".default", function () {
        let forms = $("#playground-form form");
        for (let i = 0; i < forms.length; i++) {
          if (!forms[i].classList.contains("hidden")) {
            forms[i].classList.add("hidden");
          }
        }
        $("#form-detail").removeClass("hidden");
      });

      $(document).on("click", "#change-password-submit", function (e) {
        let _this = $(this);
        _this.attr("disabled", "disabled");
        let spin = _this.parent().children(".lds-ring-profile");
        console.log(spin);
        if (spin) {
          if (spin.hasClass("hidden")) {
            spin.removeClass("hidden");
          }
        }
        $.ajax({
          url: "/account/change-password",
          type: "post",
          data: $("#form-change-password").serialize(),
          success: function (res) {
            _this.removeAttr("disabled");
            if (spin) {
              if (!spin.hasClass("hidden")) {
                spin.addClass("hidden");
              }
            }
            toastr.success(res.message);
            let forms = $("#playground-form form");
            for (let i = 0; i < forms.length; i++) {
              if (!forms[i].classList.contains("hidden")) {
                forms[i].classList.add("hidden");
              }
            }
            $("#form-detail").removeClass("hidden");
          },
          error: function (jq, status, error) {
            _this.removeAttr("disabled");
            if (spin) {
              if (!spin.hasClass("hidden")) {
                spin.addClass("hidden");
              }
            }
            let responseError = JSON.parse(jq.responseText);
            console.log(responseError);
            responseError.errors.forEach((error) => {
              if (!$("#" + error.param).hasClass("invalid-error-input")) {
                $("#" + error.param).addClass("invalid-error-input");
                setTimeout(() => {
                  if ($("#" + error.param).hasClass("invalid-error-input")) {
                    $("#" + error.param).removeClass("invalid-error-input");
                  }
                }, 5000);
              }
              $("#invalid-" + error.param).text(error.msg);
              clearAfterDelay($("#invalid-" + error.param));
            });
          },
        });
      });

      $(document).on("click", "#form-change-info-submit", function (e) {
        let _this = $(this);
        _this.attr("disabled", "disabled");
        let spin = _this.parent().children(".lds-ring-profile");
        if (spin) {
          if (spin.hasClass("hidden")) {
            spin.removeClass("hidden");
          }
        }
        $.ajax({
          url: "/account/change-user-info",
          type: "post",
          data: $("#form-change-info").serialize(),
          success: function (res) {
            _this.removeAttr("disabled");
            if (spin) {
              if (!spin.hasClass("hidden")) {
                spin.addClass("hidden");
              }
            }
            toastr.success(res.message);
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          },
          error: function (jq, status, error) {
            _this.removeAttr("disabled");
            if (spin) {
              if (!spin.hasClass("hidden")) {
                spin.addClass("hidden");
              }
            }
            let responseError = JSON.parse(jq.responseText);
            console.log(responseError);
            responseError.errors.forEach((error) => {
              if (!$("#" + error.param).hasClass("invalid-error-input")) {
                $("#" + error.param).addClass("invalid-error-input");
                setTimeout(() => {
                  if ($("#" + error.param).hasClass("invalid-error-input")) {
                    $("#" + error.param).removeClass("invalid-error-input");
                  }
                }, 5000);
              }
              $("#invalid-" + error.param).text(error.msg);
              clearAfterDelay($("#invalid-" + error.param));
            });
          },
        });
      });

      // $(document).on('click', '#download-cert', function () {
      //   $.ajax({
      //     type: 'get',
      //     url: '/account/download-cert',
      //     success: function (res) {
      //       console.log(res)
      //     },
      //     error: function (jq, status, err) {
      //       console.log(jq);
      //     }
      //   })
      // })
    </script>