<link rel="stylesheet" href="/assets/css/profile.css" />
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="active">Profile</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<% if (user) { %>
<div class="Shopping-cart-area pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card-container">
          <span class="default">Default</span>
          <img
            class="round"
            src="https://randomuser.me/api/portraits/women/79.jpg"
            alt="user"
          />
          <h3>
            <%= user.lastName + ' ' + user.middleName + ' ' + user.firstName %>
          </h3>
          <h6><%= user.email %></h6>
          <p><%= user.address %></p>
          <!-- <div class="buttons">
            <button class="primary">Message</button>
            <button class="primary ghost">Following</button>
          </div> -->
          <div class="skills">
            <h6>Features</h6>
            <ul>
              <li>
                <a id="btn-change-password-form">Change password</a>
              </li>
              <li>
                <a id="btn-change-user-info-form">Change information</a>
              </li>
              <li><a>Orders</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-8" id="playground-form">
        <form id="form-detail">
          <div class="row">
            <div class="col-12">
              <h4>Account</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-group">
                <div class="col-third">
                  <input
                    class="profile-input"
                    type="text"
                    readonly
                    placeholder="First name"
                    value="<%= user.firstName %>"
                  />
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    type="text"
                    readonly
                    placeholder="Middle name"
                    value="<%= user.middleName %>"
                  />
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    type="text"
                    readonly
                    placeholder="Last name"
                    value="<%= user.lastName %>"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-group input-group-icon">
                <input
                  class="profile-input"
                  type="email"
                  readonly
                  placeholder="Email Adress"
                  value="<%= user.email %>"
                />
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <h4>Date of Birth</h4>
              <div class="input-group">
                <div class="col-third">
                  <input
                    class="profile-input"
                    readonly
                    type="text"
                    placeholder="DD"
                  />
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    readonly
                    type="text"
                    placeholder="MM"
                  />
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    readonly
                    type="text"
                    placeholder="YYYY"
                  />
                </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12">
              <h4>Address Details</h4>
              <div class="input-group input-group-icon">
                <%= user.address %>
              </div>
              <div class="input-group input-group-icon"></div>
            </div>
          </div>
          <!-- <div class="row pr-0">
            <h4>Terms and Conditions</h4>
              <div class="input-group">
                <input class="profile-input" id="terms" type="checkbox"/>
                <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
              </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-6 pr-0">
              <input
                class="form-control"
                type="button"
                placeholder="Full Name"
                value="Save"
              />
            </div>
          </div> -->
        </form>
        <form id="form-change-info" class="hidden">
          <input type="hidden" name="userId" value="<%= user.userId %>" />
          <div class="row">
            <div class="col-12">
              <h4>Change user information</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-group">
                <div class="col-third">
                  <input
                    class="profile-input"
                    type="text"
                    name="firstname"
                    placeholder="First name"
                    value="<%= user.firstName %>"
                  />
                  <span id="invalid-firstname"></span>
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    type="text"
                    name="middlename"
                    placeholder="Middle name"
                    value="<%= user.middleName %>"
                  />
                  <span id="invalid-middlename"></span>
                </div>
                <div class="col-third">
                  <input
                    class="profile-input"
                    type="text"
                    name="lastname"
                    placeholder="Last name"
                    value="<%= user.lastName %>"
                  />
                  <span id="invalid-lastname"></span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-group input-group-icon">
                <input
                  class="profile-input"
                  type="email"
                  name="email"
                  placeholder="Email Adress"
                  value="<%= user.email %>"
                />
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
              </div>
              <span id="invalid-email"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>Address Details</h4>
              <div class="input-group input-group-icon">
                <input
                  class="profile-input"
                  type="text"
                  name="address"
                  placeholder="Address"
                  value="<%= user.address %>"
                />
                <div class="input-icon"><i class="fa fa-mark-alt"></i></div>
              </div>
              <span id="invalid-address"></span>
            </div>
          </div>
          <div class="row pr-0">
            <div class="col-sm-6 pr-0">
              <input
                class="form-control"
                type="button"
                id="form-change-info-submit"
                value="Save"
              />
            </div>
          </div>
        </form>
        <form id="form-change-password" class="hidden">
          <input type="hidden" name="userId" value="<%= user.userId %>" />
          <div class="row">
            <div class="col-12">
              <h4>Change password</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-group input-group-icon">
                <input
                  class="profile-input"
                  type="password"
                  name="password"
                  placeholder="Password"
                  value=""
                />
                <div class="input-icon"><i class="fa fa-lock"></i></div>
              </div>
              <span id="invalid-password"></span>
            </div>
            <div class="col-12">
              <div class="input-group input-group-icon">
                <input
                  class="profile-input"
                  type="password"
                  name="confirmPassword"
                  placeholder="Confirm password"
                  value=""
                />
                <div class="input-icon"><i class="fa fa-lock"></i></div>
              </div>
              <span id="invalid-confirmPassword"></span>
            </div>
          </div>
          <div class="row pr-0">
            <div class="col-sm-6 pr-0">
              <input
                class="form-control"
                type="button"
                id="change-password-submit"
                value="Save"
              />
            </div>
          </div>
        </form>
        <form class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>
<!--Shopping Cart Area End-->

<script>
  function clearAfterDelay(e) {
    setTimeout(() => {
      e.text("");
    }, 15000);
  }
  $(document).on("click", "#btn-change-password-form", function (e) {
    console.log("click");
    let forms = $("#playground-form form");
    for (let i = 0; i < forms.length; i++) {
      if (!forms[i].classList.contains("hidden")) {
        forms[i].classList.add("hidden");
      }
    }
    $("#form-change-password").removeClass("hidden");
  });
  $(document).on("click", "#btn-change-user-info-form", function (e) {
    let forms = $("#playground-form form");
    for (let i = 0; i < forms.length; i++) {
      if (!forms[i].classList.contains("hidden")) {
        forms[i].classList.add("hidden");
      }
    }
    $("#form-change-info").removeClass("hidden");
  });
  $(document).on("click", ".default", function () {
    let forms = $("#playground-form form");
    for (let i = 0; i < forms.length; i++) {
      if (!forms[i].classList.contains("hidden")) {
        forms[i].classList.add("hidden");
      }
    }
    $("#form-detail").removeClass("hidden");
  });

  $(document).on("click", "#change-password-submit", function (e) {
    $.ajax({
      url: "/account/change-password",
      type: "post",
      data: $("#form-change-password").serialize(),
      success: function (res) {
        toastr.success(res.message);
        let forms = $("#playground-form form");
        for (let i = 0; i < forms.length; i++) {
          if (!forms[i].classList.contains("hidden")) {
            forms[i].classList.add("hidden");
          }
        }
        $("#form-detail").removeClass("hidden");
      },
      error: function (jq, status, error) {
        let responseError = JSON.parse(jq.responseText);
        console.log(responseError);
        responseError.errors.forEach((error) => {
          if (!$("#" + error.param).hasClass("invalid-error-input")) {
            $("#" + error.param).addClass("invalid-error-input");
            setTimeout(() => {
              if ($("#" + error.param).hasClass("invalid-error-input")) {
                $("#" + error.param).removeClass("invalid-error-input");
              }
            }, 5000);
          }
          $("#invalid-" + error.param).text(error.msg);
          clearAfterDelay($("#invalid-" + error.param));
        });
      },
    });
  });

  $(document).on("click", "#form-change-info-submit", function (e) {
    $.ajax({
      url: "/account/change-user-info",
      type: "post",
      data: $("#form-change-info").serialize(),
      success: function (res) {
        toastr.success(res.message);
        setTimeout(() => {
          window.location.reload();
        }, 1000);
      },
      error: function (jq, status, error) {
        let responseError = JSON.parse(jq.responseText);
        console.log(responseError);
        responseError.errors.forEach((error) => {
          if (!$("#" + error.param).hasClass("invalid-error-input")) {
            $("#" + error.param).addClass("invalid-error-input");
            setTimeout(() => {
              if ($("#" + error.param).hasClass("invalid-error-input")) {
                $("#" + error.param).removeClass("invalid-error-input");
              }
            }, 5000);
          }
          $("#invalid-" + error.param).text(error.msg);
          clearAfterDelay($("#invalid-" + error.param));
        });
      },
    });
  });
</script>
