<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li class="active"><%= product.name %></li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
  <div class="container">
    <div class="row single-product-area">
      <div class="col-lg-5 col-md-6">
        <!-- Product Details Left -->
        <div class="product-details-left">
          <div class="product-details-images slider-navigation-1">
            <div class="lg-image">
              <a
                class="popup-img venobox vbox-item"
                href="/images/<%= product.primaryImage %>"
                data-gall="myGallery"
              >
                <img
                  src="/images/<%= product.primaryImage %>"
                  alt="product image"
                />
              </a>
            </div>
            <div class="lg-image">
              <a
                class="popup-img venobox vbox-item"
                href="/images/<%= product.subImage %>"
                data-gall="myGallery"
              >
                <img
                  src="/images/<%= product.subImage %>"
                  alt="product image"
                />
              </a>
            </div>
          </div>
          <div class="product-details-thumbs slider-thumbs-1">
            <div class="sm-image">
              <img
                src="/images/<%= product.primaryImage %>"
                alt="product image thumb"
              />
            </div>
            <div class="sm-image">
              <img
                src="/images/<%= product.subImage %>"
                alt="product image thumb"
              />
            </div>
          </div>
        </div>
        <!--// Product Details Left -->
      </div>

      <div class="col-lg-7 col-md-6">
        <div class="product-details-view-content pt-60">
          <div class="product-info">
            <h2><%= product.name %></h2>
            <span class="product-details-ref"
              >Manufacturer: <%= manufacturer.name %></span
            >
            <br />
            <span class="product-details-ref">Type: <%= type.name %></span>
            <br />
            <span class="product-details-ref">CPU: <%= product.cpu %></span>
            <br />
            <span class="product-details-ref"
              >Storage: <%= product.storage %></span
            >
            <br />
            <span class="product-details-ref">VGA: <%= product.vga %></span>
            <br />
            <div class="price-box pt-20">
              <span class="new-price new-price-2">$<%= product.price %></span>
            </div>
            <div class="product-desc"><%= product.description %></div>
            <div class="single-add-to-cart">
              <form action="#" class="cart-quantity">
                <div class="quantity">
                  <label>Quantity</label>
                  <div class="cart-plus-minus">
                    <input class="cart-plus-minus-box" name="productAmount" id="productAmount" value="1" type="text" />
                    <div class="dec qtybutton">
                      <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="inc qtybutton">
                      <i class="fa fa-angle-up"></i>
                    </div>
                  </div>
                </div>
                <button class="add-to-cart-detail add-to-cart" data-key="<%= product.code %>" type="button">Add to cart</button>
              </form>
            </div>
            <div class="block-reassurance">
              <ul>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-check-square-o"></i>
                    </div>
                    <p>Security policy</p>
                  </div>
                </li>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-truck"></i>
                    </div>
                    <p>Delivery policy</p>
                  </div>
                </li>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-exchange"></i>
                    </div>
                    <p>Return policy</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="li-product-tab">
          <ul class="nav li-product-menu">
            <li>
              <a class="active" data-toggle="tab" href="#description"
                ><span>Description</span></a
              >
            </li>
            <li>
              <a data-toggle="tab" href="#product-details"
                ><span>Product Details</span></a
              >
            </li>
          </ul>
        </div>
        <!-- Begin Li's Tab Menu Content Area -->
      </div>
    </div>
    <div class="tab-content">
      <div id="description" class="tab-pane active show" role="tabpanel">
        <div class="product-description"><%= product.description %></div>
      </div>
      <div id="product-details" class="tab-pane" role="tabpanel">
        <div class="product-details-manufacturer">
          <table class="table table-striped">
            <tbody>
              <% Object.keys(product).forEach(function(key) { if (key !=
              'primaryImage' && key != 'subImage') { %>
              <tr>
                <th><%= key %></th>
                <td><%= product[key] %></td>
              </tr>
              <% } %> <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
  <div class="container">
    <div class="row">
      <!-- Begin Li's Section Area -->
      <div class="col-lg-12">
        <div class="li-section-title">
          <h2>
            <span>Relevance products</span>
          </h2>
        </div>
        <div class="row">
          <div class="product-active owl-carousel">
            <% if(productRelates) { %> <% for (var index = 0; index <
            productRelates.length; index++) { %>
            <div class="col-lg-12">
              <!-- single-product-wrap start -->
              <div class="single-product-wrap">
                <div class="product-image">
                  <a
                    href="/product-details/<%= productRelates[index].Value.code %>"
                  >
                    <img
                      src="/images/<%= productRelates[index].Value.primaryImage %>"
                      alt="<%= productRelates[index].Value.name %>"
                    />
                  </a>
                  <span class="sticker">New</span>
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <h4>
                      <a
                        class="product_name"
                        href="/product-details/<%= productRelates[index].Value.code %>"
                        ><%= productRelates[index].Value.name %></a
                      >
                    </h4>
                    <div class="price-box">
                      <span class="new-price"
                        >$<%= productRelates[index].Value.price %></span
                      >
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active">
                        <a href="#">Add to cart</a>
                      </li>
                      <li>
                        <a
                          href="#"
                          title="quick view"
                          class="quick-view-btn"
                          data-toggle="modal"
                          data-key="<%= productRelates[index].Value.code %>"
                          data-target="#exampleModalCenter"
                          ><i class="fa fa-eye"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- single-product-wrap end -->
            </div>
            <% } %> <% } %>
          </div>
        </div>
      </div>
      <!-- Li's Section Area End Here -->
    </div>
  </div>
</section>
<!-- Li's Laptop Product Area End Here -->
